pankmer_analysis/all_genomes/
pankmer_analysis/pankmer_output_v2/
pankmer_analysis/ncbi_genomes/
pankmer_analysis/*.fasta
pankmer_analysis/*.fna
pankmer_analysis/rename_filled.csv
pankmer_analysis/pankmer_env/

bakta_analysis/output/
bakta_analysis/all_faa/
bakta_analysis/all_hypotheticals/
bakta_analysis/renamed/
bakta_analysis/summary/all_summaries.csv
